*{
    box-sizing: border-box;
}

body{
    background-color: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}
.bg{
    background: url("https://cdn.pixabay.com/photo/2023/02/02/10/02/sunset-7762468_960_720.jpg") no-repeat center center/cover;
    position: absolute; 
    top: -30;
    left: -30;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}
.loading-text{
 font-size: 50px;
 color: #fff;
}