:root {
  --left-bg-color: rgba(107, 84, 236, 0.116);
  --right-bg-color: rgba(236, 175, 84, 0.13);

  --left-btn-hover-color: rgba(4, 110, 248, 0.993);
  --right-btn-hover-color: rgba(247, 121, 4, 0.986);

  --hover-width: 85%;
  --other-width: 15%;

  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f6f7fb;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
h1 {
    display: none;
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}
.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.split.left,
.split.right,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
}
.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.split.left {
  left: 0;
  background: url(https://cdn1.epicgames.com/offer/fn/23BR_C4S1_EGS_Launcher_Blade_2560x1440_2560x1440-70d48b6b897fd8509891ebeb1c160117);
  background-repeat: no-repeat;
  background-size: cover;
}
.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url(https://pbs.twimg.com/media/FNgObV9X0Aw4dwy?format=jpg&name=large);
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.hover-left .left {
  width: var(--hover-width);
}
.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}
.hover-right .left {
  width: var(--other-width);
}


@media(max-width:800px){
    h1{
       font-size: 2rem; 
       top: 30%;
    }
    .btn{
        padding: 1.2rem;
        width: 12rem;
    }
}