body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
    background-color: rgb(0, 0, 0);
      font-family:'Courier New', Courier, monospace;
    font-size: larger;

}
.calculadora{
    display: flex;
    justify-content: center;

    background-color: rgb(34, 33, 33);
    width: 390px;
    height: 580px;
    box-shadow: 1px 1px 10px aqua;
}



.entradaEresultado{
display: flex;
flex-direction: column;

}

.item{
display: flex;
justify-content: center;
flex-direction: column;
margin: 8px;
margin-left: 0px;

box-shadow: 1px 1px 5px black ;
color: antiquewhite;
background-color: rgb(69, 68, 68);
text-align: center;
width: 70px;
height: 70px;
border-radius: 50%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 10px 10px 10px 10px;
  }


.item0{
    height: 70px;
    width: 150px;
    border-radius: 45%;
    grid-row: 5 / 5;
    grid-column: 1 / 3; 
}
.cinza{
    background-color: rgb(164, 165, 165);
}
.azul{
background-color: rgb(1, 191, 191);
}
