*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 25vh;
    justify-content: center;
background-color: rgb(59, 57, 57);
}
.cores{
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    height: 25vh;
    background-color: rgb(red, green, blue);
}
.mudaCor{
    margin-top: 10vh;
}
.valor{
color: aliceblue;
font-size: 45px;
}
.botao{
margin-top: 3vh;
font-size: 20px;
width: 20vh;
height: 5vh;
border-radius: 30px;
}
.botao:hover{
    background-color:  rgb(59, 57, 57);
    color: aliceblue;
    border: 1px solid aliceblue;
    cursor: pointer;
}

