*{
    padding: 0px;
    margin: 0px;
    font-family:  'Courier New', Courier, monospace;
}
body{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(56, 56, 56);
   
}

h1{
    position: relative;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: aqua;
}
.cores{
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    height: 25vh;
    transition: 0.5s;
    background-color: rgb(red, green, blue);
}
.mudaCor{
    margin-top: 10vh;
}
.valor{
color: aliceblue;
font-size: 45px;
}
.botao{
margin-top: 3vh;
font-size: 20px;
width: 20vh;
height: 5vh;
border-radius: 30px;
}
.botao:hover{
    background-color:  rgb(59, 57, 57);
    color: aliceblue;
    border: 1px solid aliceblue;
    cursor: pointer;
}

input{
    text-align: center;

margin-top: 3vh;
font-size: 20px;
width: 20vh;
height: 5vh;
border-radius: 30px;
}

.botaoAtualizar{
    width: 50%;
    margin: 0 auto;

    margin-top: 3vh;
    font-size: 20px;
    width: 20vh;
    height: 5vh;
    border-radius: 30px; 
}
.botaoAtualizar:hover{
    background-color:  rgb(59, 57, 57);
    color: aliceblue;
    border: 1px solid aliceblue;
    cursor: pointer;
}

footer{
    margin-top: 5vh;
    color: aliceblue;
  }