*{
    box-sizing: border-box;
}

body{
    background-color: #f6f7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('https://cdn.pixabay.com/photo/2023/02/10/13/44/gorilla-7780902_960_720.jpghttps://cdn.pixabay.com/photo/2023/02/10/13/44/gorilla-7780902_960_720.jpg');
    background-position: center center ;
    background-size: cover;
    transition: 0.4s;
}